doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title congress newsletter - citizens united
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    link(href='../css/skeleton/normalize.css' rel='stylesheet')
    link(href='../css/skeleton/skeleton.css' rel='stylesheet')
    link(href='../css/newsletter.css' rel='stylesheet')
  body(onload="init()")
    div.navbar
      a(href='/')
        h1 CITIZENS-UNITED
        h5 A suite of software tools for political action
      div.section(id="newsletterCongress")
        div.container
          div.row
      div.section
        div.container
          div.row
            div(class='twelve columns back')
              a(href="/") Software Tools for Digital Protest by Citizen-United
