#callCongress{
}

.instructions{
  font-size: 1.15em;
}

ol li{
  font-family: Georgia,Times,"Times New Roman",serif;
}

.form{
  font-size: 1em;
  border: 3px black solid;
  border-radius: 4px;
  padding: 3%;
  height: auto;
  overflow: hidden;
}


#callCongress h6{
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

#status{
  font-size: 1.4em;

  opacity: 0;

  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
}

.caller{
  text-align: left;
  background-color: #eee;
  padding: 4rem;
  margin-bottom: 2rem;
}

.caller p{
  font-size: 1.5em;
}

.guide{
  padding-left: 10px;
}

.back{
  text-align: right;
  padding-top: 3%;
  font-size: 1rem;
}
.back a:hover{
  border: 0;
}

#callCongress button, #callCongress .button {
  height: 6rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: background-color 0.5s; /* Safari */
  transition: background-color 0.5s;
}

#callCongress button:hover, #callCongress .button:hover {
  height: 6rem;
  color: white;
  background-color: green;
  border: 1px solid white;
}
